#  Python

### What is Python?
##### Python is a dynamic, interpreted language that is used in a wide range of domains and technical fields. 
##### It was developed by Guido van Rossum in 1991. 
##### It was mainly developed for code readability and its syntax is such that it allows programmers to code/express concepts in fewer lines of code.
##### Python is an interpreted, object-oriented, high-level programming language with dynamic semantics. 
##### Its high-level built in data structures, combined with dynamic typing and dynamic binding, make it very attractive for Rapid Application Development, as well as for use as a scripting or glue language to connect existing components together. 
##### Python’s simple, easy to learn syntax emphasizes readability and therefore reduces the cost of program maintenance. 
##### Python supports modules and packages, which encourages program modularity and code reuse. 
##### The Python interpreter and the extensive standardlibrary are available in source or binary form without charge for all major platforms and can be freely distributed.

### Where is Python used?
#### Python is used by the novice programmer as well as by the highly skilled professional developer. It is being used in academia, at web companies, in large corporations and financial institutions. It is used for
##### • Web and Internet development: Python is used on the server side to create web applications.
##### • Software development: Python is used to create GUI applications, connecting databases, etc.
##### • Scientific and Numeric applications: Python is used to handle big data and perform complex mathematics.
##### • Education: Python is a great language for teaching programming, both at the introductory level and in more advanced courses.
##### • Desktop GUIs: The Tk GUI library2 included with most binary distributions of Python is used extensively to build desktop applications.
##### • Business Applications: Python is also used to build ERP and ecommerce systems.

# Why Python?
### Python is characterized by many features. Let’s see a few of them here:
##### • Simple
##### • Easy to Learn
##### • Free and Open Source
##### • High-level
##### • Dynamically Typed
##### • Portable/Platform Independent/Cross Platform
##### • Interpreted
##### • Multiparadigm
##### • Extensible
##### • Extensive Libraries
##### • Garbage Collection

## History of Python
##### • Python 0.9.0 released in February 1991
##### • Python 1.0 released in January 1994
##### • Python 2.0 released in October 2000
##### • Python 2.6 released in October 2008
##### • Python 2.7 released in July 2010
##### • Python 3.0 released in December 2008
##### • Python 3.4 released in March 2014
##### • Python 3.6 released in December 2016
##### • Python 3.7 released in June 2018
##### • Python 3.8 released in october  2019
##### • Python 3.9 released in june 2021
##### • Python 3.10 released in june 2021

# Installing
#### click on below link

www.python.org


##### Windown 64 bit: https://repo.continuum.io/archive/Anaconda3-5.2.0-Windows-x86_64.exe
##### Windown 32 bit: https://repo.continuum.io/archive/Anaconda3-5.2.0-Windows-x86.exe
##### Mac: https://repo.continuum.io/archive/Anaconda3-5.2.0-MacOSX-x86_64.sh
##### Linux 64 bit: https://repo.continuum.io/archive/Anaconda3-5.2.0-Linux-x86_64.sh
##### Linux 32 bit: https://repo.continuum.io/archive/Anaconda3-5.2.0-Linux-x86.sh

# Python Basics

In [1]:
comments : how is going to do 
    it simple represent with ' # '

SyntaxError: invalid syntax (<ipython-input-1-87ad2cedad7b>, line 1)

In [2]:
\n --> new line
\t --> tab space

SyntaxError: unexpected character after line continuation character (<ipython-input-2-63a804a6a2f7>, line 1)

In [3]:
input() # input function

''

In [4]:
print() # print function

#### what is python indentation

##### it is white spaces

In [5]:
#example
class python():
    pass # this line contain white space
def white_spaces():
    pass  # this line contain white space

# python first program

In [6]:
print('Hello world')

Hello world

In [7]:
print(566162)

566162

In [8]:
print('code with you')

code with you

In [9]:
print(7.7)

7.7

# Variables
#### A name which is used to store a value by using assignment operator

### Rules for creating variables in Python:
##### A variable name must start with a letter or the underscore character.
##### A variable name cannot start with a number.
##### A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).
##### Variable names are case-sensitive (name, Name and NAME are three different variables).
##### The reserved words(keywords) cannot be used naming the variable.

In [10]:
# examples
# An integer assignment
age = 22
  
# A floating point
salary = 891.25
  
# A string
name = "vamsi"
  
print(age)
print(salary)
print(name)

22
891.25
vamsi

In [11]:
a = b = c = 10
  
print(a)
print(b)
print(c)

10
10
10

In [12]:
a, b, c = 891, 1223.5, "code with you"
  
print(a)
print(b)
print(c)

891
1223.5
code with you

In [13]:
channel_1 = 'code with you'
channel_1

'code with you'

In [14]:
as = 'vamsi' # keyword

SyntaxError: invalid syntax (<ipython-input-14-13122b05643e>, line 1)

In [15]:
7_code = 'python' # start with number

SyntaxError: invalid decimal literal (<ipython-input-15-d829b89d7ec8>, line 1)

In [16]:
7vamsi ='charsi solustions'  # start with number

SyntaxError: invalid syntax (<ipython-input-16-7e8fff774293>, line 1)

# Keywords

In [17]:
import keyword
 
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [18]:
print('total number of keywords :',len(keyword.kwlist))

total number of keywords : 35

# Types of Operator
#### Python language supports the following types of operators.

##### 1.Arithmetic Operators
##### 2.Comparison (Relational) Operators
##### 3.Assignment Operators
##### 4.Logical Operators
##### 5.Bitwise Operators
##### 6.Membership Operators
##### 7.Identity Operators

In [19]:
# addition
a = 10
b = 20
c =a+b
c

30

In [20]:
#Subtraction
a = 10
b = 20
c =a-b
c

-10

In [21]:
#Multiplication
a = 10
b = 20
c =a*b
c

200

In [22]:
#divison
a =10
b=20
c =b/a
c

2.0

In [23]:
#Modulus
a = 10
b=20
c=b%a
c

0

In [24]:
#Exponent
a =10
b=20
c =a**b
c

100000000000000000000

In [25]:
2**4

16

In [26]:
3**8

6561

In [27]:
#Floor Division
a =10
b=20
c=a//b
c

0

In [28]:
9//2

4

In [29]:
9.0//2.0

4.0

In [30]:
#2.Comparison (Relational) Operators

In [31]:
a = 10
b = 20

In [32]:
a == b

False

In [33]:
a != b

True

In [34]:
a >b

False

In [35]:
a<b

True

In [36]:
a<=b

True

In [37]:
a>=b

False

In [38]:
# Assignment Operators

In [39]:
c = a+b
c

30

In [40]:
c = c+a
c

40

In [41]:
c+=a
c

50

In [42]:
c = c-b
c

30

In [43]:
c -=b
c

10

In [44]:
c = c*4
c

40

In [45]:
c *=5
c

200

In [46]:
c =c/30
c

6.666666666666667

In [47]:
c /=2
c

3.3333333333333335

In [48]:
c =c%a
c

3.3333333333333335

In [49]:
c %=b
c

3.3333333333333335

In [50]:
c =c**2
c

11.111111111111112

In [51]:
c**=3
c

1371.7421124828538

In [52]:
c = c//2
c

685.0

In [53]:
c //=2
c

342.0

In [54]:
#Logical Operators

In [55]:
# AND &

In [56]:
5==5 and 6==6

True

In [57]:
5==6 and 6==6

False

In [58]:
# or
5==6 or 6==6

True

In [59]:
5==5 or 6==6

True

In [60]:
not 1==3

True

In [61]:
not 3==3

False

In [62]:
#Bitwise Operators

In [63]:
# &
201 & 15

9

In [64]:
 201 | 15

207

In [65]:
201 ^ 15

198

In [66]:
15<<2

60

In [67]:
15>>2

3

In [68]:
#Python Membership Operators

In [69]:
school =['tables','teachers','students','whiteboard','playground']

In [70]:
'tables' in school

True

In [71]:
'students' in school

True

In [72]:
'parents' in school

False

In [73]:
'parents' not in school

True

In [74]:
'whiteboard' not in school

False

In [75]:
#Identity Operators

In [76]:
school =['tables','teachers','students','whiteboard','playground']

In [77]:
college =['tables','teachers','students','whiteboard','playground']

In [78]:
school is college

False

In [79]:
school is not college

True

In [80]:
#Operator Precedence
# PEMDAS

In [81]:
(100+5)*2/2+2-2

105.0

In [82]:
5*(15*6+5)+5-6

474

In [83]:
(15*6+5)

95

In [84]:
5*95

475

In [85]:
475+5

480

In [86]:
480-6

474

# data types



# Strings
#### Strings in python are surrounded by either single quotation marks, or double quotation marks.

In [1]:
# create a string
a = 'code with you'

In [2]:
a

'code with you'

In [3]:
b = "CODE WITH YOU"

In [4]:
b

'CODE WITH YOU'

In [5]:
type(a)

str

In [6]:
type(b)

str

In [95]:
a = 'code with'
b = 'you'
c = a+b
c

'code withyou'

In [9]:
h = 'hello'
j = 'world'
k = h+j
k

'helloworld'

In [ ]:
#Repetition

In [10]:
b = "CODE WITH YOU"
c = b*12
c

'CODE WITH YOUCODE WITH YOUCODE WITH YOUCODE WITH YOUCODE WITH YOUCODE WITH YOUCODE WITH YOUCODE WITH YOUCODE WITH YOUCODE WITH YOUCODE WITH YOUCODE WITH YOU'

In [12]:
w = 'hi'
l = w*5
l

'hihihihihi'

In [13]:
a = 'Assume string variable a holds Hello and variable b holds'
a[2:] # [start value:end value]

'sume string variable a holds Hello and variable b holds'

In [14]:
a[2:5]

'sum'

In [15]:
a[:-5]

'Assume string variable a holds Hello and variable b '

In [17]:
# swapcase() it represented lower case to upper case
a = 'garden'
b = 'A Lovely garden'
a.swapcase()
b.swapcase()

'a lOVELY GARDEN'

In [19]:
# title() it returns a view where the frist character of the string is capitalized
x = 'PYTHON'
y = 'DATA SCIENCE'
x.title()
#
y.title()

'Data Science'

In [115]:
# isalnum() it returns True if all charcters of a non-empty string
d = "python2"
d.isalnum()

True

In [116]:
y = "python 3.10"
y.isalnum()

False

In [119]:
# upper() it return the upper case of string
U = 'code with you'
U.upper()

'CODE WITH YOU'

In [ ]:
# lower() it return the lower case of string

In [120]:
L = 'PYTHON PROGRAMMING'
L.lower()

'python programming'

In [20]:
# index() it return the index character
I = 'python programming'
I.index('g')

10

In [130]:
#count() it return a count the characters in string
c = 'python programming'
c.count('p')

2

In [131]:
c.count('o')

2

### Multiline Strings
##### You can assign a multiline string to a variable by using three quotes:

In [21]:
a = """Search Computer Coding Lessons,
Look Up Results On Info,
Search Computer Coding Lessons,
Find Results On Info.com."""
print(a)

Search Computer Coding Lessons,
Look Up Results On Info,
Search Computer Coding Lessons,
Find Results On Info.com.

In [22]:
b = """welcome to python full coures,
by code with you,
teaching by vamsi."""
print(b)

welcome to python full coures,
by code with you,
teaching by vamsi.

# List
### Lists are used to store multiple items in a single variable.
### Lists are created using square brackets

In [24]:
# creating a list
list1 = ['pyhton', 'data science', 1997, 2000]
list2 = [1, 2, 3, 4, 5 ]
list3 = ["a", "b", "c", "d"]

In [25]:
list1

['pyhton', 'data science', 1997, 2000]

In [26]:
list2

[1, 2, 3, 4, 5]

In [27]:
list3

['a', 'b', 'c', 'd']

In [28]:
# pop() it return remove a element from a list
list1 = ['physics', 'chemistry', 1997, 2000]
list1.pop()

2000

In [146]:
# reversing the list
list2 = [1, 2, 3, 4, 5 ]
list2.reverse()
print(list2)

[5, 4, 3, 2, 1]

In [29]:
# lenght method
len(list1)

3

In [32]:
# max and min method
max(list2)

5

In [150]:
min(list2)

1

# Tuple
#### Tuples are used to store multiple items in a single variable.

#### A tuple is a collection which is ordered and unchangeable or immutable.

#### Tuples are written with round brackets.

In [33]:
tup = ("apple", "banana", "mango")
tup

('apple', 'banana', 'mango')

In [35]:
tup1 = ('python', 'data science', 1997, 2000)
tup2 = (1, 2, 3, 4, 5,6,7)

In [36]:
tup1

('python', 'data science', 1997, 2000)

In [37]:
tup2

(1, 2, 3, 4, 5, 6, 7)

In [161]:
# count method
tup1 = ('python', 'data science', 1997, 2000)
tup1.count(2000)

1

In [39]:
tup1 = ('python', 'data science', 1997, 2000, 2000, 2000, 'python')
tup1.count('python')

2

In [41]:
# index() method
tup1 = ('python', 'data science', 1997, 2000)
tup1.index(1997)

2

# Dictionary
#### Dictionaries are used to store data values in key:value pairs.

#### A dictionary is a collection which is ordered , changeable and does not allow duplicates.


#### Dictionaries are written with curly brackets, and have keys and values:

In [2]:
# creating dictionary
dict1 = {
  "brand": "Honda",
  "model": "city",
  "wheels": 4

}
print(dict1)

{'brand': 'Honda', 'model': 'city', 'wheels': 4}

In [3]:
#update method
dict1.update({'fuel':'petrol'})
dict1

{'brand': 'Honda', 'model': 'city', 'wheels': 4, 'fuel': 'petrol'}

In [4]:
# remove
dict1.pop('fuel')

'petrol'

In [5]:
#lenght() method
len(dict1)

3

In [6]:
# items() method
dict1.items()

dict_items([('brand', 'Honda'), ('model', 'city'), ('wheels', 4)])

In [7]:
# values() method
dict1.values()

dict_values(['Honda', 'city', 4])

In [8]:
# keys() method
dict1.keys()

dict_keys(['brand', 'model', 'wheels'])

# Set
#### Sets are used to store multiple items in a single variable.

#### A set is a collection which is both unordered and unindexed.

#### Sets are written with curly brackets.
#### Set items are unordered, unchangeable, and do not allow duplicate values.

In [9]:
# creating set
set1 = {"apple", "banana", "mango"}
print(set1)

{'mango', 'banana', 'apple'}

In [10]:
set1 = {"apple", "banana", "mango"}
set2 = {1, 13, 7, 11, 3}
set3 = {True, False, False}

In [11]:
set1

{'apple', 'banana', 'mango'}

In [12]:
set2

{1, 3, 7, 11, 13}

In [13]:
set3

{False, True}

In [14]:
# adding of new element
set1.add('water melon')
set1

{'apple', 'banana', 'mango', 'water melon'}

In [15]:
len(set1)

4

In [16]:
set1.remove('water melon')
set1

{'apple', 'banana', 'mango'}

In [19]:
 s = {'apple','bat','cat'}
v = {'cat','dog','apple'}

In [21]:
s.intersection(v) #

{'apple', 'cat'}

In [22]:
s.difference(v)

{'bat'}

# Conditions statements
#### These conditions can be used in several ways, most commonly in "if statements" and loops.

#### An "if statement" is written by using the if keyword.

# If statement:

In [23]:
a = 33
b = 100
if b > a:
  print("b is greater than a")

b is greater than a

In [26]:
c= 400
d = 60
if c<d:
    print('c is greater than d')

## Else
#### The elif keyword is pythons way of saying "if the previous conditions were not true, then try this condition".

In [29]:
a = 100
b = 100
if b > a:
  print("b is greater than a")
else:
  print("a and b are equal")

a and b are equal

In [31]:
r = 500
y = 100
if y>r:
    print('y is greater than r')
else:
    print('y and r equal')

y and r equal

## Elif
### The elif keyword is pythons way of saying "if the previous conditions were not true, then try this condition"

In [32]:
a = 200
b = 200
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a and b are equal

In [33]:
c,h = 500,700
if c>h:
    print('c is greater than h')
elif c==h:
    print('c is equal to h')
else:
    print('h is greater than c')

h is greater than c

In [36]:
c,h = 500,500
if c>h:
    print('c is greater than h')
elif c==h:
    print('c is equal to h')
else:
    print('h is greater than c')

c is equal to h

# Nested If
#### You can have if statements inside if statements, this is called nested if statements.

In [37]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [40]:
y =10
if y >= 10:
    print('TEN')
    if y>20:
        print('Above 20')
    else:
        print('condition is false')

TEN
condition is false

In [43]:
y =100
if y > 10:
    print('TEN')
    if y>20:
        print('Above 20')
    else:
        print('condition is false')

TEN
Above 20

# Python Loops
###  Python has two primitive loop commands:

##### while loops
##### for loops

# The while Loop
### With the while loop we can execute a set of statements as long as a condition is true.

In [46]:
i = 1
while i < 10:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9

In [49]:
i = 0
while i <= 100:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

###  break Statement
#### With the break statement we can stop the loop even if the while condition is true:

In [1]:
i = 1
while i < 9:
  print(i)
  if i == 4:
    break
  i += 1

1
2
3
4

In [12]:
i = 1
while i<=100:
    print(i)
    if i == 32:
        break
    i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32

### continue Statement
#### With the continue statement we can stop the current iteration, and continue with the next:

In [13]:
i = 0
while i < 9:
  i += 1
  if i == 4:
    continue
  print(i)

1
2
3
5
6
7
8
9

In [14]:
i = 1
while i<=100:
    i += 1
    if i ==56:
        continue
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101

# Python For Loops
#### A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

#### This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

####  With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [16]:
fruits = ["apple", "banana", "mango", "water melon"]
for x in fruits:
  print(x)

apple
banana
mango
water melon

In [17]:
# break statement
fruits = ["apple", "banana", "mango","gova"]
for x in fruits:
  print(x)
  if x == "mango":
    break

apple
banana
mango

In [56]:
# continue statement
fruits = ["apple", "banana", "mango","gova"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
mango
gova

In [18]:
fruits = ["apple", "banana", "mango", "water melon"]
for y in fruits:
    if y == "mango":
        continue
    print(y)

apple
banana
water melon

### The pass Statement
##### for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [57]:
for x in [0, 1, 2,3]:
  pass

In [21]:
for y in range(40):
    pass

## module
###    A module can define functions, classes and variables. A module can also include runnable code.

## Packages in Python
#### A package is  consists of modules and subpackages and sub-subpackages, and so on.

# Python Functions
### A function is a block of code which only runs when it is called.

### You can pass data, known as parameters, into a function.

### A function can return data as a result.

### python have two of functions
#### 1. inbuilt functions
#### 2. user-defined functions.

In [29]:
def printme():
   print("hello")
printme()

hello

In [23]:
# calling function
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

## Function Arguments
### You can call a function by using the following types of formal arguments −

##### number arguments
##### Keyword arguments
##### Default arguments

In [30]:
# number
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("vamsi", "Reddy")

vamsi Reddy

In [32]:
# keyword 
def my_function(child3, child2, child1):
  print("The youngest child is " + child2)

my_function(child1 = "reddy", child2 = "adnan", child3 = "vamsi")

The youngest child is adnan

In [33]:
# default
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("USA")
my_function("India")
my_function()
my_function("Brazil")

I am from USA
I am from India
I am from Norway
I am from Brazil

## Scope of Variables
#### All variables in a program may not be accessible at all locations in that program. This depends on where you have declared a variable.

#### The scope of a variable determines the portion of the program where you can access a particular identifier. There are two basic scopes of variables in Python −

##### Global variables
##### Local variables
##### Global vs. Local variables
##### Variables that are defined inside a function body have a local scope, and those defined outside have a global scope.

In [88]:
def main_function():
    x=50 # local
    #def sub_fuction():
       # y = 20 # non loacl

z = 60 # global

### The return Statement
##### The statement return [expression] exits a function, optionally passing back an expression to the caller. A return statement with no arguments is the same as return None.

In [35]:
def my_function(x):
  return 5 + x

print(my_function(35))
print(my_function(5))
print(my_function(9))

40
10
14

## The Anonymous Functions
#### These functions are called anonymous because they are not declared in the standard manner by using the def keyword. You can use the lambda keyword to create small anonymous functions.

### Lambda forms can take any number of arguments but return just one value in the form of an expression. They cannot contain commands or multiple expressions.

#### An anonymous function cannot be a direct call to print because lambda requires an expression

#### Lambda functions have their own local namespace and cannot access variables other than those in their parameter list and those in the global namespace.

In [93]:
# syntax for lambda function
#lambda [arg1 [,arg2,.....argn]]:expression

In [36]:
# Function definition is here
sum = lambda arg1, arg2: arg1 - arg2;

# Now you can call sum as a function
print ("Value of total : ", sum( 20, 30 ))
print ("Value of total : ", sum( 40, 20 ))

Value of total :  -10
Value of total :  20

## Recursion
#### Python also accepts function recursion, which means a defined function can call itself.

In [92]:
# factorial number
def factorial(num):
    if num==1:
        return 1
    else:
        return num*factorial(num-1)
    
print(factorial(1))
print(factorial(5))
print(factorial(10))

1
120
3628800

# Python Oops concepts

## Classes 

#### A classe is the blueprint from specific objects are created
#### To define a class you will use the keyword class followed by a class identifier and a colon:
####

In [43]:
class MyClass:
  x = 10

In [ ]:
class person:
    y = 'hello'

### Create Object
##### Now we can use the class named MyClass to create objects:

In [44]:
p1 = MyClass()
print(p1.x)

10

In [50]:
#u = person()

In [52]:
class Person:
  def __init__(self, name, age): # to assign values to object properties
    self.name = name
    self.age = age

p1 = Person("vamsi", 23)

print(p1.name)
print(p1.age)

vamsi
23

### Creating Instance Objects

In [53]:
class Person:
  def __init__(self, name, age): # to assign values to object properties
    self.name = name
    self.age = age

p1 = Person("vamsi", 23)
p2 = Person("Reddy", 20)


print(p1.name)
print(p1.age)
print(p2.name)
print(p2.age)

vamsi
23
Reddy
20

# Python Inheritance
#### Inheritance allows us to define a class that inherits all the methods and properties from another class.

#### Parent class is the class being inherited from, also called base class.

#### Child class is the class that inherits from another class, also called derived class.

## Create a Parent Class
##### Any class can be a parent class, so the syntax is the same as creating any other class:

In [103]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def name(self):
    print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the name method:

x = Person("Vamsi", "Reddy")
x.name()

Vamsi Reddy

## Create a Child Class
#### To create a class that inherits the functionality from another class, send the parent class as a parameter when creating the child 
class:

In [104]:
class Student(Person):
  pass

In [115]:
a = 10
b=20
class total1:
    def sum(self,a,b):
        return a+b;
class total2:
    def sub(self,a,b):
        return a-b; 
class ans(total1,total2):
    def mul(self,a,b):
        return a*b; 
    
d=ans()
print(d.sum(a,b))
print(d.sub(a,b))
print(d.mul(a,b))

30
-10
200

# Encapsulation
#### It describes the idea of wrapping data and the methods that work on data within one unit.
#### This puts restrictions on accessing variables and methods directly and can prevent the accidental modification of data. 
#### To prevent accidental change, an object’s variable can only be changed by an object’s method. 
#### Those types of variables are known as private variable. 
#### In Python, there is no existence of Private instance variables that cannot be accessed except inside a class. However, to define a private member prefix the member name with double underscore “__”.

In [277]:
class Encap:
    a=10 #public
    def display(self):
        print('Welcome')
        print(self._a)

obj = Encap()
obj.display()

Welcome

AttributeError: 'Encap' object has no attribute '_a'

In [56]:
class Encap:
    a=10 #public
    def display(self):
        print('Welcome')
        print(self._a)

obj = Encap()
obj.display()

Welcome

AttributeError: 'Encap' object has no attribute '_a'

# Abstract Classes
#### An abstract class can be considered as a blueprint for other classes.
#### It allows you to create a set of methods that must be created within any child classes built from the abstract class.
#### A class which contains one or more abstract methods is called an abstract class.

In [126]:
from abc import ABC,abstractmethod
class aclass(ABC):
    @abstractmethod
    def display(self):
        None
    #@abstractmethod
    def show(self):
        None

class Demo(aclass):
    def display(self):
        print('AbstractMethod')
    def show(self):
        print('Show method')
obj=Demo()
obj.display()
obj.show()

AbstractMethod
Show method

# Polymorphism
#### The word polymorphism means having many forms. In programming, polymorphism means the same function name (but different signatures) being used for different types.

In [128]:
# len() being used for a string
print(len("geeks"))
 
# len() being used for a list
print(len([10, 20, 30, 40]))

5
4

In [57]:
len("python")

6

# File Handling
#### The key function for working with files in Python is the open() function.

#### The open() function takes two parameters; filename, and mode.

#### There are four different methods (modes) for opening a file:

In [130]:
# syntax
f = open("demofile.txt")

In [46]:
# Open a file
file = open("hello.txt", "wb")

## The close() Method
#### The close() method of a file object flushes any unwritten information and closes the file object, after which no more writing can be done.

In [137]:
fileObject.close()

In [47]:
fo = open("youtube list.txt", "w")
print ("Name of the file: ", fo.name)

Name of the file:  youtube list.txt

In [48]:
# Close opend file
fo.close()

## The write() Method
#### The write() method writes any string to an open file. It is important to note that Python strings can have binary data and not just text.

In [49]:
f = open("youtube list.txt", "a")
f.write("Now the file has more content!")
f.close()

#open and read the file after the appending:
f = open("youtube list.txt", "r")
print(f.read())

Now the file has more content!

# Read() MEthod

In [154]:
f = open("youtube list.txt", "r")
print(f.read(10))

Now the fi

In [155]:
# for line reading
f = open("youtube list.txt", "r")
print(f.readline())

Now the file has more content!